/*Clase Publica*/
body{
    background:#f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

/*clases Publicas*/
div{
    margin: 20px 0;
}

/*Clase Privada*/
.btn{
    background: #32021f;
    color: #f2f2f2;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    margin: 0 10px;
}

.btn:hover{
    opacity: .7;
}

/*Tamaños */
.small{
    font-size: 14px;
    padding: 10px 15px;


}
.medium{
    font-size: 16px;
    padding: 15px 20px;


}

.big{
    font-size: 18px;
    padding: 20px 25px;


}
.extra-big{
    font-size: 20px;
    padding: 25px 30px;


}

.azul{ background: rgb(50, 50, 253);}

.verde{ background: rgb(3, 207, 3);}

.naranja{ background: rgb(255, 68, 0);}

.border-radius{
    border-radius: 6.25rem;
}