* {
    padding: 0;
    margin: 0;
    /*Estos Tres van parejos*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*Supuestamente esta propiedad hace que el tamañano 
    de por decir el ancho y el padding tengan exactamente su tamaño y 
    no se alteren */
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.caja {
    list-style: none;
    margin: 20px auto;
}

.derecha {
    float: right;
}

.caja a {
    display: inline-block;
    text-align: center;
    padding: 20px;
    background: none;
    border-radius: 3px;
    border: 1px solid #ff9e00;
}

h2 a {
    text-decoration: none;
    color: #ff9e00;
}

.caja a:hover {
    background: #e71d36;
    color: #f2f2f2;
    border: 1px solid #e71d36;
}

.caja a:active {
    background: #0db39e;
    color: #f2f2f2;
    border: 1px solid #0db39e;
}

.formulario {
    background: #fff;
    width: 500px;
    /*
    margin: 20px auto;*/
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.formulario input {
    /*Para recordad el display bloc hace que 
    tome el 100% del cubo o fila.*/
    display: block;
}


/* Esta es la forma de toma en cuenta los input dentro de lo que tienen ellos*/

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #0f83b0;
    font-family: Arial;
    font-size: 16px;
}


/*NUEVO *************************

ESTADO FOCUS

Este estado es cuando se esta selecionando
*/

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
    border: 4px solid #4fb560;
}

.formulario textarea {
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}

.formulario input[type="submit"] {
    width: 200px;
    margin: 0 auto;
    background: none;
    border: 1px solid #4fb560;
    color: #4fb560;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

.formulario input[type="submit"]:hover {
    background: #4fb560;
    color: #fff;
}