/*Este es un selector Universal

* { color: red;}
*/

h1{
    color:blue
}

div  p {
    font-size: 1.5rem;
    color: black;

}

div p a{
    color: red;
}
/*CLASE CLASS*/
.grande{
    font-size: 3rem;
}
/*Estos son SELECTORES DESENDENTES*/
/*Quiere decir que
(div tiene dentro un 
    (article que dentro 
        tiene un (parrafo)) )*/
.main article p{
    font-size: 4rem;
    color: blue;
}



/*CLASE ID*/
    /*
        LAS CLASES ID no se ocupan en CSS,
        si se puede pero como pagina ya moderna no 
        se ocupa, porque los ID, se establecen con
        Javascript
    */
/*
    #grande{
        font-size: 5rem;
}
*/