/*IMPORTANTE PARA ALAS TABLAS*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

table,
td,
th {
    border: 1px solid rgba(0, 0, 0, .2);
}

table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

th,
td {
    padding: 10px 20px;
}

th {
    background: #009ddc;
    color: #f2f2f2;
}

tr:hover {
    background: #D00000;
    color: #f2f2f2;
}

.menu2 tr th a {
    text-decoration: none;
    color: #f2f2f2;
}

.menu2 th:hover {
    background: #D00000;
}